.content .inner.account{
  background-color: var(--black-glass);
  border-radius: 20px;
  padding: 2rem;
}

.edit-profile{
  font-size: 30px;
  font-weight: 200;
}

.edit-profile-box{
  background-color: var(--glass_back);
  padding: 2rem;
  border-radius: 20px;
  margin-top: 1rem;
}

.profile-picture{
  width: 100%;
  display: flex;
  height: 250px;
  border-bottom: var(--glass_back) 2px solid;
}

.profile-picture-box{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
}

.profile-pic{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: var(--glass_back) 10px solid;
}

.edit{
  background-color: var(--accent2);
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  right:0;
  bottom:-10px;
}



.form-box{
  margin-top: 2rem;
  padding: 2rem ;
  background-color: var(--black-glass);
  border-radius: 20px;
}

.form-title{
  font-size: 20px;
}

.form-box .top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.edit-info{
  display: flex;
  align-items:center ;
  gap: 10px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent2);
}

.edit-info img{
  height: 20px;
}

.editable-form{
  margin-top: 2rem;
}

.personal-form{
  display: grid;
  grid-template-columns: 20% 20% 20% 1fr;
  gap: 3rem;
}

.editable-form .form-group{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editable-form .form-group label{
  font-size: 18px;
  font-weight: 200;
}


.editable-form .form-group input, textarea{
  background: none;
  border: none;
}

.editable-form .form-group.active input{
  background: var(--glass_back);
  border: none;
  padding: 15px;
  border-radius: 10px;
}

.editable-form .form-group textarea{
  max-width: 1500px;
}

.editable-form .form-group input::placeholder,.editable-form .form-group textarea::placeholder{
  color: white;
  font-size: 18px;
}

.activities{
  display: flex;
  gap: 1rem;
  width: 100%;
}


.activity{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--glass_back);
  padding: 10px;
  border-radius: 10px;

}

.activity input{
  background-color: transparent;
  color: white;
  border: none;
  width: 100px;
  font-size: 15px;
  text-align: center;
}

.activity-button{
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}



.Activities-form .form-group{
  margin-top: 30px;
}



.activity_select{
  width: 350px;
  background: none;
  border: none;
  border-radius: 10px;
  color:white;
  padding: 10px;
  font-size: 15px;
  background-color: var(--glass_back);
  outline: var(--accent) 2px solid;
}

.activity_select option{
  color: white;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(44, 46, 51);
  outline: none;
  border: none;
}

.add-sport{
  border: none;
  position: absolute;
  left: 400px;
  bottom: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}



